frameworks/termentry/rng/termentryMod.rng

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="urn:oasis:names:tc:dita:rng:vocabularyModuleDesc.rng" schematypens="http://relaxng.org/ns/structure/1.0"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:dita="http://dita.oasis-open.org/architecture/2005/" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <moduleDesc xmlns="http://dita.oasis-open.org/architecture/2005/">
    <moduleTitle>DITA Termentry</moduleTitle>
    <headerComment xml:space="preserve">
========================================================================================================================
                                                         HEADER
========================================================================================================================
          MODULE:   DITA Termentry
          VERSION:  1.3
          DATE:     January 2017

========================================================================================================================
          PUBLIC DOCUMENT TYPE DEFINITION TYPICAL INVOCATION

          Refer to this file by the following public identifier or an appropriate system identifier
          PUBLIC "-//STEFAN JUNG//ELEMENTS DITA Termentry//EN"

          Delivered as file "termentryMod.rng"

========================================================================================================================

          SYSTEM:   Darwin Information Typing Architecture (DITA)

          PURPOSE:  Define elements and specialization attributes for Termentries

          ORIGINAL CREATION DATE:
                    March 2017

                    Copyright (c) Stefan Jung 2023. All rights reserved.
                    All Rights Reserved.
                                                   
          UPDATES:
                    2017-01-11 SE: Initial Relax NG release

========================================================================================================================
    </headerComment>
    <moduleMetadata>
      <moduleType>topic</moduleType>
      <moduleShortName>termentry</moduleShortName>
      <modulePublicIds>
        <dtdMod>-//STEFAN JUNG//ELEMENTS DITA<var presep=" " name="ditaver"/> Termentry//EN</dtdMod>
        <dtdEnt>-//STEFAN JUNG//ENTITIES DITA<var presep=" " name="ditaver"/> Termentry//EN</dtdEnt>
        <xsdMod>urn:jung:dita:xsd:termentryMod.xsd<var presep=":" name="ditaver"/></xsdMod>
        <xsdGrp>urn:jung:dita:xsd:termentryGrp.xsd<var presep=":" name="ditaver"/></xsdGrp>
        <rncMod>urn:jung:dita:rnc:termentryMod.rnc<var presep=":" name="ditaver"/></rncMod>
        <rngMod>urn:jung:dita:rng:termentryMod.rng<var presep=":" name="ditaver"/></rngMod>
      </modulePublicIds>
      <domainsContribution>(topic concept termentry)</domainsContribution>
    </moduleMetadata>
  </moduleDesc>
  
  <div>
    <a:documentation>TOPIC NESTING OVERRIDES</a:documentation>
    <define name="termentry-info-types">
      <ref name="info-types"/>
    </define>
  </div>
  
  <div>
    <a:documentation>ELEMENT TYPE NAME PATTERNS</a:documentation>
    <define name="termentry">
      <ref name="termentry.element"/>
    </define>
    <define name="termBody">
      <ref name="termBody.element"/>
    </define>
    <define name="definition">
      <ref name="definition.element"/>
    </define>
    <define name="definitionText">
      <ref name="definitionText.element"/>
    </define>
    <define name="agreedWith">
      <ref name="agreedWith.element"/>
    </define>
    <define name="altDefinition">
      <ref name="altDefinition.element"/>
    </define>
    <define name="altDefinitionText">
      <ref name="altDefinitionText.element"/>
    </define>
    <define name="termCommitteeMember">
      <ref name="termCommitteeMember.element"/>
    </define>
    <define name="domains">
      <ref name="domains.element"/>
    </define>
    <define name="domain">
      <ref name="domain.element"/>
    </define>
    <define name="partOfSpeech">
      <ref name="partOfSpeech.element"/>
    </define>
    <define name="annotation">
      <ref name="annotation.element"/>
    </define>
    <define name="relations">
      <ref name="relations.element"/>
    </define>
    <define name="antonyms">
      <ref name="antonyms.element"/>
    </define>
    <define name="superordinateConcepts">
      <ref name="superordinateConcepts.element"/>
    </define>
    <define name="subordinateConcepts">
      <ref name="subordinateConcepts.element"/>
    </define>
    <define name="instancesOf">
      <ref name="instancesOf.element"/>
    </define>
    <define name="partsOf">
      <ref name="partsOf.element"/>
    </define>
    <define name="relatedTerms">
      <ref name="relatedTerms.element"/>
    </define>
    <define name="definitionSource">
      <ref name="definitionSource.element"/>
    </define>
    <define name="sourceName">
      <ref name="sourceName.element"/>
    </define>
    <define name="sourceReference">
      <ref name="sourceReference.element"/>
    </define>
    <define name="termVariant">
      <ref name="termVariant.element"/>
    </define>
    <define name="termContext">
      <ref name="termContext.element"/>
    </define>
    <define name="termContextText">
      <ref name="termContextText.element"/>
    </define>
    <define name="termContextSource">
      <ref name="termContextSource.element"/>
    </define>
    <define name="termSource">
      <ref name="termSource.element"/>
    </define>
    <define name="fullForm">
      <ref name="fullForm.element"/>
    </define>
    <define name="abbreviation">
      <ref name="abbreviation.element"/>
    </define>
    <define name="acronym">
      <ref name="acronym.element"/>
    </define>
    <define name="verb">
      <ref name="verb.element"/>
    </define>
    <define name="antonym">
      <ref name="antonym.element"/>
    </define>
    <define name="superordinateConcept">
      <ref name="superordinateConcept.element"/>
    </define>
    <define name="subordinateConcept">
      <ref name="subordinateConcept.element"/>
    </define>
    <define name="instanceOf">
      <ref name="instanceOf.element"/>
    </define>
    <define name="partOf">
      <ref name="partOf.element"/>
    </define>
    <define name="relatedTerm">
      <ref name="relatedTerm.element"/>
    </define>
  </div>
  
  <div>
    <a:documentation>COMMON ATTRIBUTE SETS</a:documentation>
    <define name="term-atts">
      <!-- Does not work -->
      <!--<optional>
        <attribute name="base"/>
        <attribute name="outputclass"/>
        <attribute name="termdomain"/>
      </optional>-->
      <attribute name="usage" a:defaultValue="preferred">
        <a:documentation>Should the term be used or not?</a:documentation>
        <choice>
          <value>admitted</value><a:documentation>The term may be used.</a:documentation>
          <value>notRecommended</value><a:documentation>The term must not be used.</a:documentation>
          <value>obsolete</value><a:documentation>The term is obsolete.</a:documentation>
          <value>preferred</value><a:documentation>The term is preferred.</a:documentation>
        </choice>
      </attribute>
    </define>
    <define name="languageSelection-atts">
      <attribute name="language" a:defaultValue="en-GB">
        <a:documentation>The language of the term</a:documentation>
        <choice>
          <value>af-ZA</value><a:documentation>Afrikaans - South Africa</a:documentation>
          <value>ar-AE</value><a:documentation>Arabic - United Arab Emirates</a:documentation>
          <value>ar-BH</value><a:documentation>Arabic - Bahrain</a:documentation>
          <value>ar-DZ</value><a:documentation>Arabic - Algeria</a:documentation>
          <value>ar-EG</value><a:documentation>Arabic - Egypt</a:documentation>
          <value>ar-IQ</value><a:documentation>Arabic - Iraq</a:documentation>
          <value>ar-JO</value><a:documentation>Arabic - Jordan</a:documentation>
          <value>ar-KW</value><a:documentation>Arabic - Kuwait</a:documentation>
          <value>ar-LB</value><a:documentation>Arabic - Lebanon</a:documentation>
          <value>ar-LY</value><a:documentation>Arabic - Libya</a:documentation>
          <value>ar-MA</value><a:documentation>Arabic - Morocco</a:documentation>
          <value>ar-OM</value><a:documentation>Arabic - Oman</a:documentation>
          <value>ar-QA</value><a:documentation>Arabic - Qatar</a:documentation>
          <value>ar-SA</value><a:documentation>Arabic - Saudi Arabia</a:documentation>
          <value>ar-SY</value><a:documentation>Arabic - Syria</a:documentation>
          <value>ar-TN</value><a:documentation>Arabic - Tunisia</a:documentation>
          <value>ar-YE</value><a:documentation>Arabic - Yemen</a:documentation>
          <value>be-BY</value><a:documentation>Belarusian - Belarus</a:documentation>
          <value>be</value><a:documentation>Belarusian</a:documentation>
          <value>bg-BG</value><a:documentation>Bulgarian - Bulgaria</a:documentation>
          <value>bg</value><a:documentation>Bulgarian</a:documentation>
          <value>ca-ES</value><a:documentation>Catalan - Spain</a:documentation>
          <value>ca</value><a:documentation>Catalan</a:documentation>
          <value>cs-CZ</value><a:documentation>Czech - Czech Republic</a:documentation>
          <value>cs</value><a:documentation>Czech</a:documentation>
          <value>Cy-az-AZ</value><a:documentation>Azeri (Cyrillic) - Azerbaijan</a:documentation>
          <value>Cy-sr-SP</value><a:documentation>Serbian (Cyrillic) - Serbia</a:documentation>
          <value>Cy-uz-UZ</value><a:documentation>Uzbek (Cyrillic) - Uzbekistan</a:documentation>
          <value>da-DK</value><a:documentation>Danish - Denmark</a:documentation>
          <value>da</value><a:documentation>Danish</a:documentation>
          <value>de-AT</value><a:documentation>German - Austria</a:documentation>
          <value>de-CH</value><a:documentation>German - Switzerland</a:documentation>
          <value>de-DE</value><a:documentation>German - Germany</a:documentation>
          <value>de-LI</value><a:documentation>German - Liechtenstein</a:documentation>
          <value>de-LU</value><a:documentation>German - Luxembourg</a:documentation>
          <value>de</value><a:documentation>German</a:documentation>
          <value>div-MV</value><a:documentation>Dhivehi - Maldives</a:documentation>
          <value>el-GR</value><a:documentation>Greek - Greece</a:documentation>
          <value>el</value><a:documentation>Greek</a:documentation>
          <value>en-AU</value><a:documentation>English - Australia</a:documentation>
          <value>en-BZ</value><a:documentation>English - Belize</a:documentation>
          <value>en-CA</value><a:documentation>English - Canada</a:documentation>
          <value>en-CB</value><a:documentation>English - Caribbean</a:documentation>
          <value>en-GB</value><a:documentation>English - Great Britain</a:documentation>
          <value>en-IE</value><a:documentation>English - Ireland</a:documentation>
          <value>en-JM</value><a:documentation>English - Jamaica</a:documentation>
          <value>en-NZ</value><a:documentation>English - New Zealand</a:documentation>
          <value>en-PH</value><a:documentation>English - Philippines</a:documentation>
          <value>en-TT</value><a:documentation>English - Trinidad and Tobago</a:documentation>
          <value>en-US</value><a:documentation>English - United States</a:documentation>
          <value>en</value><a:documentation>English</a:documentation>
          <value>en-ZA</value><a:documentation>English - South Africa</a:documentation>
          <value>en-ZW</value><a:documentation>English - Zimbabwe</a:documentation>
          <value>es-AR</value><a:documentation>Spanish - Argentina</a:documentation>
          <value>es-BO</value><a:documentation>Spanish - Bolivia</a:documentation>
          <value>es-CL</value><a:documentation>Spanish - Chile</a:documentation>
          <value>es-CO</value><a:documentation>Spanish - Colombia</a:documentation>
          <value>es-CR</value><a:documentation>Spanish - Costa Rica</a:documentation>
          <value>es-DO</value><a:documentation>Spanish - Dominican Republic</a:documentation>
          <value>es-EC</value><a:documentation>Spanish - Ecuador</a:documentation>
          <value>es-ES</value><a:documentation>Spanish - Spain</a:documentation>
          <value>es-GT</value><a:documentation>Spanish - Guatemala</a:documentation>
          <value>es-HN</value><a:documentation>Spanish - Honduras</a:documentation>
          <value>es-MX</value><a:documentation>Spanish - Mexico</a:documentation>
          <value>es-NI</value><a:documentation>Spanish - Nicaragua</a:documentation>
          <value>es-PA</value><a:documentation>Spanish - Panama</a:documentation>
          <value>es-PE</value><a:documentation>Spanish - Peru</a:documentation>
          <value>es-PR</value><a:documentation>Spanish - Puerto Rico</a:documentation>
          <value>es-PY</value><a:documentation>Spanish - Paraguay</a:documentation>
          <value>es-SV</value><a:documentation>Spanish - El Salvador</a:documentation>
          <value>es-UY</value><a:documentation>Spanish - Uruguay</a:documentation>
          <value>es</value><a:documentation>Spanish</a:documentation>
          <value>es-VE</value><a:documentation>Spanish - Venezuela</a:documentation>
          <value>et-EE</value><a:documentation>Estonian - Estonia</a:documentation>
          <value>et</value><a:documentation>Estonian</a:documentation>
          <value>eu-ES</value><a:documentation>Basque - Basque</a:documentation>
          <value>eu</value><a:documentation>Basque</a:documentation>
          <value>fa-IR</value><a:documentation>Farsi - Iran</a:documentation>
          <value>fa</value><a:documentation>Farsi</a:documentation>
          <value>fi-FI</value><a:documentation>Finnish - Finland</a:documentation>
          <value>fi</value><a:documentation>Finnish</a:documentation>
          <value>fo-FO</value><a:documentation>Faroese - Faroe Islands</a:documentation>
          <value>fo</value><a:documentation>Faroese</a:documentation>
          <value>fr-BE</value><a:documentation>French - Belgium</a:documentation>
          <value>fr-CA</value><a:documentation>French - Canada</a:documentation>
          <value>fr-CH</value><a:documentation>French - Switzerland</a:documentation>
          <value>fr-FR</value><a:documentation>French - France</a:documentation>
          <value>fr-LU</value><a:documentation>French - Luxembourg</a:documentation>
          <value>fr-MC</value><a:documentation>French - Monaco</a:documentation>
          <value>fr</value><a:documentation>French</a:documentation>
          <value>gl-ES</value><a:documentation>Galician - Galician</a:documentation>
          <value>gu-IN</value><a:documentation>Gujarati - India</a:documentation>
          <value>he-IL</value><a:documentation>Hebrew - Israel</a:documentation>
          <value>he</value><a:documentation>Hebrew</a:documentation>
          <value>hi-IN</value><a:documentation>Hindi - India</a:documentation>
          <value>hi</value><a:documentation>Hindi</a:documentation>
          <value>hr-HR</value><a:documentation>Croatian - Croatia</a:documentation>
          <value>hr</value><a:documentation>Croatian</a:documentation>
          <value>hu-HU</value><a:documentation>Hungarian - Hungary</a:documentation>
          <value>hu</value><a:documentation>Hungarian</a:documentation>
          <value>hy-AM</value><a:documentation>Armenian - Armenia</a:documentation>
          <value>id-ID</value><a:documentation>Indonesian - Indonesia</a:documentation>
          <value>id</value><a:documentation>Indonesian</a:documentation>
          <value>is-IS</value><a:documentation>Icelandic - Iceland</a:documentation>
          <value>is</value><a:documentation>Icelandic</a:documentation>
          <value>it-CH</value><a:documentation>Italian - Switzerland</a:documentation>
          <value>it-IT</value><a:documentation>Italian - Italy</a:documentation>
          <value>it</value><a:documentation>Italian</a:documentation>
          <value>ja-JP</value><a:documentation>Japanese - Japan</a:documentation>
          <value>ja</value><a:documentation>Japanese</a:documentation>
          <value>ka-GE</value><a:documentation>Georgian - Georgia</a:documentation>
          <value>kk-KZ</value><a:documentation>Kazakh - Kazakhstan</a:documentation>
          <value>kn-IN</value><a:documentation>Kannada - India</a:documentation>
          <value>kok-IN</value><a:documentation>Konkani - India</a:documentation>
          <value>ko-KR</value><a:documentation>Korean - Korea</a:documentation>
          <value>ko</value><a:documentation>Korean</a:documentation>
          <value>ky-KZ</value><a:documentation>Kyrgyz - Kazakhstan</a:documentation>
          <value>Lt-az-AZ</value><a:documentation>Azeri (Latin) - Azerbaijan</a:documentation>
          <value>lt-LT</value><a:documentation>Lithuanian - Lithuania</a:documentation>
          <value>Lt-sr-SP</value><a:documentation>Serbian (Latin) - Serbia</a:documentation>
          <value>Lt-uz-UZ</value><a:documentation>Uzbek (Latin) - Uzbekistan</a:documentation>
          <value>lt</value><a:documentation>Lithuanian</a:documentation>
          <value>lv-LV</value><a:documentation>Latvian - Latvia</a:documentation>
          <value>lv</value><a:documentation>Latvian</a:documentation>
          <value>mk-MK</value><a:documentation>Macedonian - North Macedonia</a:documentation>
          <value>mk</value><a:documentation>Macedonian</a:documentation>
          <value>mn-MN</value><a:documentation>Mongolian - Mongolia</a:documentation>
          <value>mr-IN</value><a:documentation>Marathi - India</a:documentation>
          <value>ms-BN</value><a:documentation>Malay - Brunei</a:documentation>
          <value>ms-MY</value><a:documentation>Malay - Malaysia</a:documentation>
          <value>ms</value><a:documentation>Malay</a:documentation>
          <value>nb-NO</value><a:documentation>Norwegian (Bokmål) - Norway</a:documentation>
          <value>nl-BE</value><a:documentation>Dutch - Belgium</a:documentation>
          <value>nl-NL</value><a:documentation>Dutch - Netherlands</a:documentation>
          <value>nl</value><a:documentation>Dutch</a:documentation>
          <value>nn-NO</value><a:documentation>Norwegian (Nynorsk) - Norway</a:documentation>
          <value>no</value><a:documentation>Norwegian</a:documentation>
          <value>pa-IN</value><a:documentation>Punjabi - India</a:documentation>
          <value>pl-PL</value><a:documentation>Polish - Poland</a:documentation>
          <value>pl</value><a:documentation>Polish</a:documentation>
          <value>pt-BR</value><a:documentation>Portuguese - Brazil</a:documentation>
          <value>pt-PT</value><a:documentation>Portuguese - Portugal</a:documentation>
          <value>pt</value><a:documentation>Portuguese</a:documentation>
          <value>ro-RO</value><a:documentation>Romanian - Romania</a:documentation>
          <value>ro</value><a:documentation>Romanian</a:documentation>
          <value>ru-RU</value><a:documentation>Russian - Russia</a:documentation>
          <value>ru</value><a:documentation>Russian</a:documentation>
          <value>sa-IN</value><a:documentation>Sanskrit - India</a:documentation>
          <value>sk-SK</value><a:documentation>Slovak - Slovakia</a:documentation>
          <value>sk</value><a:documentation>Slovak</a:documentation>
          <value>sl-SI</value><a:documentation>Slovenian - Slovenia</a:documentation>
          <value>sl</value><a:documentation>Slovenian</a:documentation>
          <value>sq-AL</value><a:documentation>Albanian - Albania</a:documentation>
          <value>sq</value><a:documentation>Albanian</a:documentation>
          <value>sr-RS</value><a:documentation>Serbian - Serbia</a:documentation>
          <value>sr</value><a:documentation>Serbian</a:documentation>
          <value>sv-FI</value><a:documentation>Swedish - Finland</a:documentation>
          <value>sv-SE</value><a:documentation>Swedish - Sweden</a:documentation>
          <value>sv</value><a:documentation>Swedish</a:documentation>
          <value>sw-KE</value><a:documentation>Swahili - Kenya</a:documentation>
          <value>syr-SY</value><a:documentation>Syriac - Syria</a:documentation>
          <value>ta-IN</value><a:documentation>Tamil - India</a:documentation>
          <value>te-IN</value><a:documentation>Telugu - India</a:documentation>
          <value>th-TH</value><a:documentation>Thai - Thailand</a:documentation>
          <value>th</value><a:documentation>Thai</a:documentation>
          <value>tr-TR</value><a:documentation>Turkish - Turkey</a:documentation>
          <value>tr</value><a:documentation>Turkish</a:documentation>
          <value>tt-RU</value><a:documentation>Tatar - Russia</a:documentation>
          <value>uk-UA</value><a:documentation>Ukrainian - Ukraine</a:documentation>
          <value>uk</value><a:documentation>Ukrainian</a:documentation>
          <value>ur-PK</value><a:documentation>Urdu - Pakistan</a:documentation>
          <value>ur</value><a:documentation>Urdu</a:documentation>
          <value>vi</value><a:documentation>Vietnamese</a:documentation>
          <value>vi-VN</value><a:documentation>Vietnamese - Vietnam</a:documentation>
          <value>zh-CN</value><a:documentation>Chinese (Simplified) - China</a:documentation>
          <value>zh-HK</value><a:documentation>Chinese - Hong Kong SAR</a:documentation>
          <value>zh-MO</value><a:documentation>Chinese - Macau SAR</a:documentation>
          <value>zh-SG</value><a:documentation>Chinese - Singapore</a:documentation>
          <value>zh-TW</value><a:documentation>Chinese (Traditional) - Taiwan</a:documentation>
        </choice>
      </attribute>
    </define>
    <define name="genderSelection-atts">
      <optional>
        <attribute name="gender">
          <choice>
            <value>neuter</value>
            <value>masculine</value>
            <value>feminine</value>
          </choice>
        </attribute>
      </optional>
    </define>
    <define name="caseSelection-atts">
      <attribute name="case" a:defaultValue="nominative">
        <choice>
          <value>nominative</value>
          <value>accusative</value>
          <value>dative</value>
          <value>genitive</value>
        </choice>
      </attribute>
    </define>
    <define name="numberSelection-atts">
      <attribute name="number" a:defaultValue="singular">
        <choice>
          <value>singular</value>
          <value>plural</value>
        </choice>
      </attribute>
    </define>
    <define name="partOfSpeech-atts">
      <attribute name="value" a:defaultValue="noun">
        <a:documentation>The part of speech of the term.</a:documentation>
        <choice>
          <value>noun</value><a:documentation>Noun</a:documentation>
          <value>pronoun</value><a:documentation>pronoun</a:documentation>
          <value>adjective</value><a:documentation>Adjective</a:documentation>
          <value>verb</value><a:documentation>Verb</a:documentation>
          <value>adverb</value><a:documentation>Adverb</a:documentation>
          <value>preposition</value><a:documentation>Preposition</a:documentation>
          <value>conjunction</value><a:documentation>Conjunction</a:documentation>
          <value>interjection</value><a:documentation>Interjection</a:documentation>
          <value>article</value><a:documentation>Article</a:documentation>
        </choice>
      </attribute>
    </define>
    <define name="termLink-atts">
      <optional>
        <attribute name="href"/>
      </optional>
      <attribute name="keyref"/>
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="query"/>
      </optional>
      <optional>
        <attribute name="cascade"/>
      </optional>
      <optional>
        <attribute name="format"/>
      </optional>
      <optional>
        <attribute name="scope">
          <choice>
            <value>external</value>
            <value>local</value>
            <value>peer</value>
            <value>-dita-use-conref-target</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="role">
          <choice>
            <value>ancestor</value>
            <value>child</value>
            <value>cousin</value>
            <value>descendant</value>
            <value>external</value>
            <value>friend</value>
            <value>next</value>
            <value>other</value>
            <value>parent</value>
            <value>previous</value>
            <value>sample</value>
            <value>sibling</value>
            <value>-dita-use-conref-target</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="otherrole"/>
      </optional>
    </define>
    <define name="termLinkGroup-atts">
      <optional>
        <attribute name="collection-type">
          <choice>
            <value>choice</value>
            <value>family</value>
            <value>sequence</value>
            <value>unordered</value>
            <value>-dita-use-conref-target</value>
            <value>tree</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="duplicated">
          <choice>
            <value>no</value>
            <value>yes</value>
            <value>-dita-use-conref-target</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="mapkeyref"/>
      </optional>
      <optional>
        <attribute name="cascade"/>
      </optional>
      <optional>
        <attribute name="format"/>
      </optional>
      <optional>
        <attribute name="scope">
          <choice>
            <value>external</value>
            <value>local</value>
            <value>peer</value>
            <value>-dita-use-conref-target</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="role">
          <choice>
            <value>ancestor</value>
            <value>child</value>
            <value>cousin</value>
            <value>descendant</value>
            <value>external</value>
            <value>friend</value>
            <value>next</value>
            <value>other</value>
            <value>parent</value>
            <value>previous</value>
            <value>sample</value>
            <value>sibling</value>
            <value>-dita-use-conref-target</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="otherrole"/>
      </optional>
      <optional>
        <attribute name="spectitle"/>
      </optional>
    </define>
  </div>
  
  <div>
    <a:documentation>ELEMENT TYPE DECLARATIONS</a:documentation>

    <div>
      <a:documentation> LONG NAME: Termentry </a:documentation>
      <define name="termentry.content">
        <ref name="title"/>
<!--        <optional>
          <ref name="titlealts"/>
        </optional>-->
        <optional>
          <choice>
            <ref name="definition"/>
          </choice>
        </optional>
        <ref name="termBody"/>
        <optional>
          <ref name="relations"/>
        </optional>
        <zeroOrMore>
          <ref name="termentry-info-types"/>
        </zeroOrMore>
      </define>
      <define name="termentry.attributes">
        <attribute name="id">
          <data type="ID"/>
        </attribute>
        <ref name="conref-atts"/>
        <ref name="select-atts"/>
        <ref name="localization-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="termentry.element">
        <element name="termentry" dita:longName="Termentry">
          <a:documentation>The &lt;termentry> element is the root element of a termentry topic. A term entry represents a terminology concept and includes one or multiple term words and defines their usage.
            Category: Termentry elements</a:documentation>
          <ref name="termentry.attlist"/>
          <ref name="termentry.content"/>
        </element>
      </define>
      <define name="termentry.attlist" combine="interleave">
        <ref name="termentry.attributes"/>
        <ref name="arch-atts"/>
        <ref name="domains-att"/>
      </define>
      <define name="idElements" combine="choice">
        <ref name="termentry.element"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Term Body </a:documentation>
      <define name="termBody.content">
        <zeroOrMore>
          <choice>
            <ref name="fig"/>
            <ref name="note"/>
            <ref name="annotation"/>
            <ref name="altDefinition"/>
          </choice>
        </zeroOrMore>
        <optional>
          <ref name="domains"/>
        </optional>
        <optional>
          <ref name="agreedWith"/>
        </optional>
        <ref name="partOfSpeech"/>
        <zeroOrMore>
          <choice>
            <ref name="fullForm"/>
            <ref name="abbreviation"/>
            <ref name="acronym"/>
            <ref name="verb"/>
          </choice>
        </zeroOrMore>
      </define>
      <define name="termBody.attributes">
        <ref name="id-atts"/>
        <ref name="localization-atts"/>
        <optional>
          <attribute name="base"/>
        </optional>
        <ref name="base-attribute-extensions"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="termBody.element">
        <element name="termBody" dita:longName="Term Body">
          <a:documentation>The &lt;termBody> element contains the body of a term.
            Category: Termentry elements</a:documentation>
          <ref name="termBody.attlist"/>
          <ref name="termBody.content"/>
        </element>
      </define>
      <define name="termBody.attlist" combine="interleave">
        <ref name="termBody.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Definition </a:documentation>
      <define name="definition.content">
        <ref name="definitionText"/>
        <optional>
          <ref name="definitionSource"/>
        </optional>
      </define>
      <define name="definition.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="definition.element">
        <element name="definition" dita:longName="Definition">
          <a:documentation>The &lt;definition> element contains the definition of a term.
            Category: Termentry elements</a:documentation>
          <ref name="definition.attlist"/>
          <ref name="definition.content"/>
        </element>
      </define>
      <define name="definition.attlist" combine="interleave">
        <ref name="definition.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Definition Text </a:documentation>
      <define name="definitionText.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="definitionText.element">
        <element name="definitionText" dita:longName="Definition Text">
          <a:documentation>The &lt;definitionText> element contains the textual content of the definition.
            Category: Termentry elements</a:documentation>
          <ref name="definitionText.attlist"/>
          <ref name="shortdesc.content"/>
        </element>
      </define>
      <define name="definitionText.attlist" combine="interleave">
        <ref name="definitionText.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Agreed With </a:documentation>
      <define name="agreedWith.content">
        <oneOrMore>
          <ref name="termCommitteeMember"/>
        </oneOrMore>
      </define>
      <define name="agreedWith.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="agreedWith.element">
        <element name="agreedWith" dita:longName="Agreed With">
          <a:documentation>The &lt;agreedWith> element contains multiple Terminology Committee Members who accepted a term.
            Category: Termentry elements</a:documentation>
          <ref name="agreedWith.attlist"/>
          <ref name="agreedWith.content"/>
        </element>
      </define>
      <define name="agreedWith.attlist" combine="interleave">
        <ref name="agreedWith.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Terminology Committee Member </a:documentation>
      <define name="termCommitteeMember.content">
        <text/>
      </define>
      <define name="termCommitteeMember.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="termCommitteeMember.element">
        <element name="termCommitteeMember" dita:longName="Terminology Committee Member">
          <a:documentation>The &lt;termCommitteeMember> element contains the name of a person who has voted for a term.
            Category: Termentry elements</a:documentation>
          <ref name="termCommitteeMember.attlist"/>
          <ref name="termCommitteeMember.content"/>
        </element>
      </define>
      <define name="termCommitteeMember.attlist" combine="interleave">
        <ref name="termCommitteeMember.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Domains </a:documentation>
      <define name="domains.content">
        <oneOrMore>
          <ref name="domain"/>
        </oneOrMore>
      </define>
      <define name="domains.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="domains.element">
        <element name="domains" dita:longName="Domains">
          <a:documentation>The &lt;domains> element contains at least one domain of the term.
            Category: Termentry elements</a:documentation>
          <ref name="domains.attlist"/>
          <ref name="domains.content"/>
        </element>
      </define>
      <define name="domains.attlist" combine="interleave">
        <ref name="domains.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Domain </a:documentation>
      <define name="domain.content">
        <empty/>
      </define>
      <define name="domain.attributes">
        <attribute name="domain-name"/>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="domain.element">
        <element name="domain" dita:longName="Domain">
          <a:documentation>The &lt;domain> element contains the domain of the term.
            Category: Termentry elements</a:documentation>
          <ref name="domain.attlist"/>
          <ref name="domain.content"/>
        </element>
      </define>
      <define name="domain.attlist" combine="interleave">
        <ref name="domain.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Part of Speech </a:documentation>
      <define name="partOfSpeech.content">
        <empty/>
      </define>
      <define name="partOfSpeech.attributes">
        <ref name="univ-atts"/>
        <ref name="partOfSpeech-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="partOfSpeech.element">
        <element name="partOfSpeech" dita:longName="Part of Speech">
          <a:documentation>The &lt;partOfSpeech> element contains the part of speech of the term.
            Category: Termentry elements</a:documentation>
          <ref name="partOfSpeech.attlist"/>
          <ref name="partOfSpeech.content"/>
        </element>
      </define>
      <define name="partOfSpeech.attlist" combine="interleave">
        <ref name="partOfSpeech.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Alternative Definition </a:documentation>
      <define name="altDefinition.content">
        <ref name="altDefinitionText"/>
        <optional>
          <ref name="definitionSource"/>
        </optional>
      </define>
      <define name="altDefinition.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="altDefinition.element">
        <element name="altDefinition" dita:longName="Alternative Definition">
          <a:documentation>The &lt;altDefinition> element contains an alternative definition.
            Category: Termentry elements</a:documentation>
          <ref name="altDefinition.attlist"/>
          <ref name="altDefinition.content"/>
        </element>
      </define>
      <define name="altDefinition.attlist" combine="interleave">
        <ref name="altDefinition.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Alternative Definition Text </a:documentation>
      <define name="altDefinitionText.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="altDefinitionText.element">
        <element name="altDefinitionText" dita:longName="Alternative Definition Text">
          <a:documentation>The &lt;altDefinitionText> element contains the textual content of the alternative definition.
            Category: Termentry elements</a:documentation>
          <ref name="definitionText.attlist"/>
          <ref name="div.content"/>
        </element>
      </define>
      <define name="altDefinitionText.attlist" combine="interleave">
        <ref name="altDefinitionText.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Annotation </a:documentation>
      <define name="annotation.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="annotation.element">
        <element name="annotation" dita:longName="Annotation">
          <a:documentation>The &lt;annotation> element contains annotations of the term.
            Category: Termentry elements</a:documentation>
          <ref name="annotation.attlist"/>
          <ref name="div.content"/>
        </element>
      </define>
      <define name="annotation.attlist" combine="interleave">
        <ref name="annotation.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Relations </a:documentation>
      <define name="relations.content">
        <optional>
          <ref name="antonyms"/>
        </optional>
        <optional>
          <ref name="superordinateConcepts"/>
        </optional>
        <optional>
          <ref name="subordinateConcepts"/>
        </optional>
        <optional>
          <ref name="instancesOf"/>
        </optional>
        <optional>
          <ref name="partsOf"/>
        </optional>
        <optional>
          <ref name="relatedTerms"/>
        </optional>
      </define>
      <define name="relations.element">
        <element name="relations" dita:longName="Relations">
          <a:documentation>The &lt;relations> element contains groups of term relations.
            Category: Termentry elements</a:documentation>
          <ref name="relations.attlist"/>
          <ref name="relations.content"/>
        </element>
      </define>
      <define name="relations.attlist" combine="interleave">
        <ref name="related-links.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Antonyms </a:documentation>
      <define name="antonyms.content">
        <oneOrMore>
          <ref name="antonym"/>
        </oneOrMore>
      </define>
      <define name="antonyms.attributes">
        <ref name="termLinkGroup-atts"/>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="antonyms.element">
        <element name="antonyms" dita:longName="Antonyms">
          <a:documentation>The &lt;antonyms> element contains references to &lt;antonym> elements.
            Category: Termentry elements</a:documentation>
          <ref name="antonyms.attlist"/>
          <ref name="antonyms.content"/>
        </element>
      </define>
      <define name="antonyms.attlist" combine="interleave">
        <ref name="antonyms.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: superordinateConcepts </a:documentation>
      <define name="superordinateConcepts.content">
        <oneOrMore>
          <ref name="superordinateConcept"/>
        </oneOrMore>
      </define>
      <define name="superordinateConcepts.attributes">
        <ref name="termLinkGroup-atts"/>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="superordinateConcepts.element">
        <element name="superordinateConcepts" dita:longName="superordinateConcepts">
          <a:documentation>The &lt;superordinateConcepts> element contains references to &lt;superordinateConcept> elements.
            Category: Termentry elements</a:documentation>
          <ref name="superordinateConcepts.attlist"/>
          <ref name="superordinateConcepts.content"/>
        </element>
      </define>
      <define name="superordinateConcepts.attlist" combine="interleave">
        <ref name="superordinateConcepts.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: subordinateConcepts </a:documentation>
      <define name="subordinateConcepts.content">
        <oneOrMore>
          <ref name="subordinateConcept"/>
        </oneOrMore>
      </define>
      <define name="subordinateConcepts.attributes">
        <ref name="termLinkGroup-atts"/>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="subordinateConcepts.element">
        <element name="subordinateConcepts" dita:longName="subordinateConcepts">
          <a:documentation>The &lt;subordinateConcepts> element contains references to &lt;subordinateConcept> elements.
            Category: Termentry elements</a:documentation>
          <ref name="subordinateConcepts.attlist"/>
          <ref name="subordinateConcepts.content"/>
        </element>
      </define>
      <define name="subordinateConcepts.attlist" combine="interleave">
        <ref name="subordinateConcepts.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Instances Of </a:documentation>
      <define name="instancesOf.content">
        <oneOrMore>
          <ref name="instanceOf"/>
        </oneOrMore>
      </define>
      <define name="instancesOf.attributes">
        <ref name="termLinkGroup-atts"/>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="instancesOf.element">
        <element name="instancesOf" dita:longName="Instances Of">
          <a:documentation>The &lt;instancesOf> element contains references to &lt;instanceOf> elements.
            Category: Termentry elements</a:documentation>
          <ref name="instancesOf.attlist"/>
          <ref name="instancesOf.content"/>
        </element>
      </define>
      <define name="instancesOf.attlist" combine="interleave">
        <ref name="instancesOf.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Parts Of </a:documentation>
      <define name="partsOf.content">
        <oneOrMore>
          <ref name="partOf"/>
        </oneOrMore>
      </define>
      <define name="partsOf.attributes">
        <ref name="termLinkGroup-atts"/>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="partsOf.element">
        <element name="partsOf" dita:longName="Parts Of">
          <a:documentation>The &lt;partsOf> element contains references to &lt;partOf> elements.
            Category: Termentry elements</a:documentation>
          <ref name="partsOf.attlist"/>
          <ref name="partsOf.content"/>
        </element>
      </define>
      <define name="partsOf.attlist" combine="interleave">
        <ref name="partsOf.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Related Terms </a:documentation>
      <define name="relatedTerms.content">
        <oneOrMore>
          <ref name="relatedTerm"/>
        </oneOrMore>
      </define>
      <define name="relatedTerms.attributes">
        <ref name="termLinkGroup-atts"/>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="relatedTerms.element">
        <element name="relatedTerms" dita:longName="Related Terms">
          <a:documentation>The &lt;relatedTerms> element contains references to &lt;relatedTerm> elements.
            Category: Termentry elements</a:documentation>
          <ref name="relatedTerms.attlist"/>
          <ref name="relatedTerms.content"/>
        </element>
      </define>
      <define name="relatedTerms.attlist" combine="interleave">
        <ref name="relatedTerms.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Definition Source </a:documentation>
      <define name="definitionSource.content">
        <optional>
          <ref name="sourceName"/>
        </optional>
        <optional>
          <ref name="sourceReference"/>
        </optional>
      </define>
      <define name="definitionSource.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="definitionSource.element">
        <element name="definitionSource" dita:longName="Definition Source">
          <a:documentation>The &lt;definitionSource> element refers to the source of a definition, e.g. a link to Wikipedia.
            Category: Termentry elements</a:documentation>
          <ref name="definitionSource.attlist"/>
          <ref name="definitionSource.content"/>
        </element>
      </define>
      <define name="definitionSource.attlist" combine="interleave">
        <ref name="definitionSource.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Source Name </a:documentation>
      <define name="sourceName.content">
        <text/>
      </define>
      <define name="sourceName.attributes">
        <ref name="data-element-atts"/>
      </define>
      <define name="sourceName.element">
        <element name="sourceName" dita:longName="Source Name">
          <a:documentation>The &lt;sourceName> element refers to a document and contains its name.
            Category: Termentry elements</a:documentation>
          <ref name="sourceName.attlist"/>
          <ref name="sourceName.content"/>
        </element>
      </define>
      <define name="sourceName.attlist" combine="interleave">
        <ref name="sourceName.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Source Reference </a:documentation>
      <define name="sourceReference.attributes">
        <optional>
          <attribute name="href"/>
        </optional>
        <optional>
          <attribute name="keyref"/>
        </optional>
        <optional>
          <attribute name="type"/>
        </optional>
        <optional>
          <attribute name="format" a:defaultValue="html"/>
        </optional>
        <optional>
          <attribute name="scope" a:defaultValue="external">
            <choice>
              <value>external</value>
              <value>local</value>
              <value>peer</value>
              <value>-dita-use-conref-target</value>
            </choice>
          </attribute>
        </optional>
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="sourceReference.element">
        <element name="sourceReference" dita:longName="Source Reference">
          <a:documentation>The &lt;sourceReference> element refers to the source of a definition, e.g. to a file or website.
            Category: Termentry elements</a:documentation>
          <ref name="sourceReference.attlist"/>
          <ref name="xref.content"/>
        </element>
      </define>
      <define name="sourceReference.attlist" combine="interleave">
        <ref name="sourceReference.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Term Variant </a:documentation>
      <define name="termVariant.content">
        <choice>
          <text/>
          <ref name="keyword"/>
          <ref name="term"/>
          <ref name="tm"/>
        </choice>
      </define>
      <define name="termVariant.attributes">
        <ref name="id-atts"/>
        <ref name="localization-atts"/>
        <ref name="base-attribute-extensions"/>
        <ref name="caseSelection-atts"/>
        <ref name="numberSelection-atts"/>
        <optional>
          <attribute name="base"/>
        </optional>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="termVariant.element">
        <element name="termVariant" dita:longName="Term Variant">
          <a:documentation>The &lt;termVariant> element contains the written form of a term.
            Category: Termentry elements</a:documentation>
          <ref name="termVariant.attlist"/>
          <ref name="termVariant.content"/>
        </element>
      </define>
      <define name="termVariant.attlist" combine="interleave">
        <ref name="termVariant.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Term Context </a:documentation>
      <define name="termContext.content">
        <ref name="termContextText"/>
        <optional>
          <ref name="termContextSource"/>
        </optional>
      </define>
      <define name="termContext.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="termContext.element">
        <element name="termContext" dita:longName="Term Context">
          <a:documentation>The &lt;termContext> element contain a context example of the term.
            Category: Termentry elements</a:documentation>
          <ref name="termContext.attlist"/>
          <ref name="termContext.content"/>
        </element>
      </define>
      <define name="termContext.attlist" combine="interleave">
        <ref name="termContext.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Term Context Text </a:documentation>
      <define name="termContextText.content">
        <text/>
      </define>
      <define name="termContextText.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="termContextText.element">
        <element name="termContextText" dita:longName="Term Context Text">
          <a:documentation>The &lt;termContextText> element contain a context example of the term.
            Category: Termentry elements</a:documentation>
          <ref name="termContextText.attlist"/>
          <ref name="termContextText.content"/>
        </element>
      </define>
      <define name="termContextText.attlist" combine="interleave">
        <ref name="termContextText.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Term Context Source </a:documentation>
      <define name="termContextSource.content">
        <optional>
          <ref name="sourceName"/>
        </optional>
        <optional>
          <ref name="sourceReference"/>
        </optional>
      </define>
      <define name="termContextSource.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="termContextSource.element">
        <element name="termContextSource" dita:longName="Term Context Source">
          <a:documentation>The &lt;termContextSource> element contains the source of the context example.
            Category: Termentry elements</a:documentation>
          <ref name="termContextSource.attlist"/>
          <ref name="termContextSource.content"/>
        </element>
      </define>
      <define name="termContextSource.attlist" combine="interleave">
        <ref name="termContextSource.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Term Source </a:documentation>
      <define name="termSource.content">
        <optional>
          <ref name="sourceName"/>
        </optional>
        <optional>
          <ref name="sourceReference"/>
        </optional>
      </define>
      <define name="termSource.attributes">
        <ref name="univ-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="termSource.element">
        <element name="termSource" dita:longName="Term Source">
          <a:documentation>The &lt;termSource> element contains the source of the term.
            Category: Termentry elements</a:documentation>
          <ref name="termSource.attlist"/>
          <ref name="termSource.content"/>
        </element>
      </define>
      <define name="termSource.attlist" combine="interleave">
        <ref name="termSource.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Generic Term </a:documentation>
      <define name="genericTerm.content">
        <zeroOrMore>
          <ref name="termVariant"/>
        </zeroOrMore>
        <optional>
          <choice>
            <ref name="annotation"/>
            <ref name="termContext"/>
            <ref name="termSource"/>
          </choice>
        </optional>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Full Form </a:documentation>
      <define name="fullForm.attributes">
        <ref name="term-atts"/>
        <ref name="languageSelection-atts"/>
        <ref name="univ-atts"/>
        <ref name="genderSelection-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="fullForm.element">
        <element name="fullForm" dita:longName="Full Form">
          <a:documentation>The &lt;fullForm> element contains the full written form of a term.
            Category: Termentry elements</a:documentation>
          <ref name="fullForm.attlist"/>
          <ref name="genericTerm.content"/>
        </element>
      </define>
      <define name="fullForm.attlist" combine="interleave">
        <ref name="fullForm.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Abbreviation </a:documentation>
      <define name="abbreviation.attributes">
        <ref name="term-atts"/>
        <ref name="languageSelection-atts"/>
        <ref name="univ-atts"/>
        <ref name="genderSelection-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="abbreviation.element">
        <element name="abbreviation" dita:longName="Abbreviation">
          <a:documentation>The &lt;abbreviation> element contains the abbreviated form of a term.
            Category: Termentry element</a:documentation>
          <ref name="abbreviation.attlist"/>
          <ref name="genericTerm.content"/>
        </element>
      </define>
      <define name="abbreviation.attlist" combine="interleave">
        <ref name="abbreviation.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Acronym </a:documentation>
      <define name="acronym.attributes">
        <ref name="term-atts"/>
        <ref name="languageSelection-atts"/>
        <ref name="univ-atts"/>
        <ref name="genderSelection-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="acronym.element">
        <element name="acronym" dita:longName="Abbreviation">
          <a:documentation>The &lt;acronym> element contains the acronym of a term.
            Category: Termentry elements</a:documentation>
          <ref name="acronym.attlist"/>
          <ref name="genericTerm.content"/>
        </element>
      </define>
      <define name="acronym.attlist" combine="interleave">
        <ref name="acronym.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Verb </a:documentation>
      <define name="verb.attributes">
        <ref name="term-atts"/>
        <ref name="languageSelection-atts"/>
        <ref name="univ-atts"/>
        <ref name="genderSelection-atts"/>
        <optional>
          <attribute name="outputclass"/>
        </optional>
      </define>
      <define name="verb.element">
        <element name="verb" dita:longName="Verb">
          <a:documentation>The &lt;verb> element contains a verb.
            Category: Termentry elements</a:documentation>
          <ref name="verb.attlist"/>
          <ref name="genericTerm.content"/>
        </element>
      </define>
      <define name="verb.attlist" combine="interleave">
        <ref name="verb.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Antonym </a:documentation>
      <define name="antonym.content">
        <empty/>
      </define>
      <define name="antonym.attributes">
        <ref name="termLink-atts"/>
      </define>
      <define name="antonym.element">
        <element name="antonym" dita:longName="Antonym">
          <a:documentation>The &lt;antonym> element refers to an antonym of a term.
            Category: Termentry elements</a:documentation>
          <ref name="antonym.attlist"/>
          <ref name="antonym.content"/>
        </element>
      </define>
      <define name="antonym.attlist" combine="interleave">
        <ref name="antonym.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: superordinateConcept </a:documentation>
      <define name="superordinateConcept.content">
        <empty/>
      </define>
      <define name="superordinateConcept.attributes">
        <ref name="termLink-atts"/>
      </define>
      <define name="superordinateConcept.element">
        <element name="superordinateConcept" dita:longName="superordinateConcept">
          <a:documentation>The &lt;superordinateConcept> element refers to the superordinateConcept of a term.
            Category: Termentry elements</a:documentation>
          <ref name="superordinateConcept.attlist"/>
          <ref name="superordinateConcept.content"/>
        </element>
      </define>
      <define name="superordinateConcept.attlist" combine="interleave">
        <ref name="superordinateConcept.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: subordinateConcept </a:documentation>
      <define name="subordinateConcept.content">
        <empty/>
      </define>
      <define name="subordinateConcept.attributes">
        <ref name="termLink-atts"/>
      </define>
      <define name="subordinateConcept.element">
        <element name="subordinateConcept" dita:longName="subordinateConcept">
          <a:documentation>The &lt;subordinateConcept> element refers to the subordinateConcept of a term.
            Category: Termentry elements</a:documentation>
          <ref name="subordinateConcept.attlist"/>
          <ref name="subordinateConcept.content"/>
        </element>
      </define>
      <define name="subordinateConcept.attlist" combine="interleave">
        <ref name="subordinateConcept.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Instance Of </a:documentation>
      <define name="instanceOf.content">
        <empty/>
      </define>
      <define name="instanceOf.attributes">
        <ref name="termLink-atts"/>
      </define>
      <define name="instanceOf.element">
        <element name="instanceOf" dita:longName="Instance Of">
          <a:documentation>The &lt;instanceOf> element indicates, that the current term is an instance ot the referenced term.
            Category: Termentry elements</a:documentation>
          <ref name="instanceOf.attlist"/>
          <ref name="instanceOf.content"/>
        </element>
      </define>
      <define name="instanceOf.attlist" combine="interleave">
        <ref name="instanceOf.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Part Of </a:documentation>
      <define name="partOf.content">
        <empty/>
      </define>
      <define name="partOf.attributes">
        <ref name="termLink-atts"/>
      </define>
      <define name="partOf.element">
        <element name="partOf" dita:longName="Part Of">
          <a:documentation>The &lt;partOf> element indicates, that the current term is part ot the referenced term.
            Category: Termentry elements</a:documentation>
          <ref name="partOf.attlist"/>
          <ref name="partOf.content"/>
        </element>
      </define>
      <define name="partOf.attlist" combine="interleave">
        <ref name="partOf.attributes"/>
      </define>
    </div>
    <div>
      <a:documentation> LONG NAME: Related Term </a:documentation>
      <define name="relatedTerm.content">
        <empty/>
      </define>
      <define name="relatedTerm.attributes">
        <ref name="termLink-atts"/>
      </define>
      <define name="relatedTerm.element">
        <element name="relatedTerm" dita:longName="Related Term">
          <a:documentation>The &lt;relatedTerm> element refers to a related term.
            Category: Termentry elements</a:documentation>
          <ref name="relatedTerm.attlist"/>
          <ref name="relatedTerm.content"/>
        </element>
      </define>
      <define name="relatedTerm.attlist" combine="interleave">
        <ref name="relatedTerm.attributes"/>
      </define>
    </div>
  </div>

  <div>
    <a:documentation>SPECIALIZATION ATTRIBUTE DECLARATIONS</a:documentation>

    <define name="abbreviation.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/section concept/section termentry/termNotation termentry/abbreviation "/>
      </optional>
    </define>
    <define name="acronym.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/section concept/section termentry/termNotation termentry/acronym "/>
      </optional>
    </define>
    <define name="agreedWith.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/ul termentry/agreedWith "/>
      </optional>
    </define>
    <define name="altDefinition.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div termentry/altDefinition "/>
      </optional>
    </define>
    <define name="altDefinitionText.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div termentry/altDefinitionText "/>
      </optional>
    </define>
    <define name="annotation.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div termentry/annotation "/>
      </optional>
    </define>
    <define name="antonym.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/link termentry/termRelation termentry/antonym "/>
      </optional>
    </define>
    <define name="antonyms.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/linklist termentry/relations-linklist termentry/antonyms "/>
      </optional>
    </define>
    <define name="definition.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/abstract termentry/definition "/>
      </optional>
    </define>
    <define name="definitionSource.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div termentry/definitionSource "/>
      </optional>
    </define>
    <define name="definitionText.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/shortdesc termentry/definitionText "/>
      </optional>
    </define>
    <define name="domain.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/data concept/data termentry/domain "/>
      </optional>
    </define>
    <define name="domains.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div termentry/domains "/>
      </optional>
    </define>
    <define name="fullForm.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/section concept/section termentry/termNotation termentry/fullForm "/>
      </optional>
    </define>
    <define name="superordinateConcept.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/link termentry/termRelation termentry/superordinateConcept "/>
      </optional>
    </define>
    <define name="superordinateConcepts.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/linklist termentry/relations-linklist termentry/superordinateConcepts "/>
      </optional>
    </define>
    <define name="subordinateConcept.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/link termentry/termRelation termentry/subordinateConcept "/>
      </optional>
    </define>
    <define name="subordinateConcepts.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/linklist termentry/relations-linklist termentry/subordinateConcepts "/>
      </optional>
    </define>
    <define name="instanceOf.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/link termentry/termRelation termentry/instanceOf "/>
      </optional>
    </define>
    <define name="instancesOf.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/linklist termentry/relations-linklist termentry/instancesOf "/>
      </optional>
    </define>
    <define name="partOf.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/link termentry/termRelation termentry/partOf "/>
      </optional>
    </define>
    <define name="partsOf.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/linklist termentry/relations-linklist termentry/partsOf "/>
      </optional>
    </define>
    <define name="partOfSpeech.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/data concept/data termentry/partOfSpeech "/>
      </optional>
    </define>
    <define name="relatedTerm.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/link termentry/termRelation termentry/relatedTerm "/>
      </optional>
    </define>
    <define name="relatedTerms.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/linklist termentry/relations-linklist termentry/relatedTerms "/>
      </optional>
    </define>
    <define name="relations.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/related-links termentry/relations "/>
      </optional>
    </define>
    <define name="sourceName.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/text termentry/sourceName "/>
      </optional>
    </define>
    <define name="sourceReference.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/xref concept/xref termentry/sourceReference "/>
      </optional>
    </define>
    <define name="termBody.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/body concept/conbody termentry/termBody "/>
      </optional>
    </define>
    <define name="termCommitteeMember.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/li termentry/termCommitteeMember "/>
      </optional>
    </define>
    <define name="termContext.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div termentry/termContext "/>
      </optional>
    </define>
    <define name="termContextSource.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/div termentry/termContextSource "/>
      </optional>
    </define>
    <define name="termContextText.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/text termentry/termContextText "/>
      </optional>
    </define>
    <define name="termSource.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/text termentry/termSource "/>
      </optional>
    </define>
    <define name="termVariant.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/text termentry/termVariant "/>
      </optional>
    </define>
    <define name="termentry.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/topic concept/concept termentry/termentry "/>
      </optional>
    </define>
    <define name="verb.attlist" combine="interleave">
      <ref name="global-atts"/>
      <optional>
        <attribute name="class" a:defaultValue="- topic/section concept/section termentry/termNotation termentry/verb "/>
      </optional>
    </define>

  </div>
</grammar>
